<div class="container">
    <div class="row">
        <div class="col" *ngFor="let country of countries">
            <button class="btn btn-primary" [id]="country" (click)="countryBtnClicked($event)">{{country.toUpperCase()}}</button>
        </div>
    </div>
</div>



<button class="btn btn-dark mt-1 ml-1" (click)="showPrices($event)">Prices</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showPredictedPrices($event)">Predicted Prices</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showTotalLoad($event)">Actual Total Load</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showTotalLoadForecast($event)">Total Load Forecast</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showGeneration($event)">Generation</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showGenerationForecast($event)">Generation Forecast</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showSolar($event)">Solar</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showSolarForecast($event)">Solar Forecast</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showWind($event)">Wind</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showWindForecast($event)">Wind Forecast</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showHydro($event)">Hydro</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showThermal($event)">Thermal</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showBalancingPrices($event)">Balancing Prices</button>
<button class="btn btn-dark mt-1 ml-1" (click)="showAvailability()">Availability</button>
<!-- <button class="btn btn-dark mt-1 ml-1" (click)="showOutages()" [disabled]="outageBool">Outages</button> -->
<!-- <button class="btn btn-dark" (click)="showGenerationSWForecast()">Generation Solar-Wind Forecast</button> -->
<!-- <button class="btn btn-dark" (click)="showthermalHydroForecast()">Thermal Hydro Forecast</button> -->

<!-- <button class="btn btn-dark" (click)="showPrices()">Prices</button> -->


<div style="height:800px" id="container"> </div>
<!-- <div style="height:900px" id="container1"> </div> -->